@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
  --color-main:#4B9CD4;
  --dark-color-main:#3987be;
  --light-color-main:#94c6e9;
  --darker-light-color-main: #76aed6;
  --color-submit: #FF8C15;
  --color-submit-hover: #e17603;
}

body {
  margin: 0;
  /* Police */  
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Lato', sans-serif;
  /* Background */
  background-image: url('src/img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* display pour centrer la page */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  color: var(--color-main);
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}


p {
  text-align: left;
  padding: 0 50px 0 50px;
}
ul {
  text-align: left;
  padding: 0 50px 0 50px;
}
li {
  text-align: left;
}


.div-centre {
  padding: 20px 0 20px 0;
  margin: 10px 0 20px 0;
  background-color: white;
  min-height: 80%;
  width: 80%;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.connexion {
  padding: 20px 0 20px 0;
  margin: 10px 0 20px 0;
  background-color: white;
  min-height: 80%;
  width: 50%;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: var(--color-main);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin {
  padding: 20px 0 20px 0;
  margin: 10px 0 20px 0;
  background-color: white;
  min-height: 80%;
  width: 80%;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: var(--color-main);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
table{
  border: none;
  border-collapse: collapse;
  width: 95%;
}
table tr:nth-child(even){
  background-color: #79aed4;
  color: white;
}
th{
  border: none;
}
td{
  padding: 5px 0 5px 0;
  text-align: center;
  border: none;
}
.tbl-name{
  background-color: #316F9A;
  color: white;
  border-radius: 10px;
}
.btn-connexion{
  width: 100%;
    background-color: #FF8C15;
}

.texte_question {
  font-size: 32px;
  border: 1 px black;
  margin: 20px;
}

.texte_reponse {
  background-color: var(--light-color-main);
  border: none;
  color: white;
  padding: 10px 24px;
  margin: 10px 0 10px 0;
  cursor: pointer;
  /* Pointer/hand icon */
  width: 80%;
  /* Set a width if needed */
  border-radius: 200px;
  display: inline-block;
  transition: 0.1s ease-in-out;
}
.texte_reponse:hover{
  background-color: var(--darker-light-color-main);
  padding: 10px calc(2.5% + 24px);
  width: 85%;
  transition: 0.1s ease-in-out;
}

.texte_reponse.correct {
  background-color: #4CAF50;
  color: white;
}

.texte_reponse.incorrect {
  background-color: #c75353;
  color: white;
}

.texte_reponse.active {
  border: 4px solid #aaa;
  border-color: var(--light-color-main);
  background-color: white;
  color: var(--light-color-main);
}

.texte_resultat {
  margin: 20px;
}

#submitter {
  display: none;
  background-color: var(--color-submit);
  margin-top: 50px;
}

#submitter:hover {
  background-color: var(--color-submit-hover)!important;
}

.Reponses {
  text-align: center;
}
#question{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

button{
  background: var(--color-main);
  border-radius: 100px;
  color: white;
  font-size: 30px;
  border: none;
  padding: 10px;
}
button:hover{
  cursor: pointer;
  background-color: var(--darker-light-color-main);
}
#underlineButton{
  background: none;
  color: var(--color-main);
  font-weight: 700;
  font-size: 16px;
  padding: 0;
  border: 1px solid #4B9CD4;
  margin: 5px 0 5px 0;
  padding: 2px 10px 2px 10px;
  width: 60%;
  border-radius: 5px;
}

.container{
  display: flex;
  place-items: center;
}

.arrows{
  height: 10%;
  margin: 10px;
}
.carousel-slide p{
  padding: 0;
}

.bouton_next{
  margin: 10px 0 10px 0;
}

.textInfo {
  margin: auto;
  width: 90%;
}

.texteCache {
  display: block;
  margin: 10px 0;
}

@media screen and (max-width: 600px){
  .div-centre{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .texte_reponse{
    font-size: 20px;
  }
}