@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root{
  --color-main:#4B9CD4;
  --light-color-main:#94c6e9;
  --darker-light-color-main: #76aed6;
}

body {
  margin: 0;
  /* Police */
  font-family: 'Josefin Sans', sans-serif;
  /* Background */
  background-image: url('src/img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* display pour centrer la page */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  color: var(--color-main);
  text-align: center;
}

p {
  text-align: left;
  padding: 0 50px 0 50px;
}
ul {
  text-align: left;
  padding: 0 50px 0 50px;
}
li {
  text-align: left;
}


.div-centre {
  padding: 20px 0 20px 0;
  margin: 10px 0 20px 0;
  background-color: white;
  min-height: 80%;
  width: 80%;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.texte_question {
  font-size: 32px;
  border: 1 px black;
  margin-bottom: 20px;
}

.texte_reponse {
  background-color: var(--light-color-main);
  font-size: 32px;
  border: none;
  color: white;
  padding: 10px 24px;
  margin: 10px 0 10px 0;
  cursor: pointer;
  /* Pointer/hand icon */
  width: 80%;
  /* Set a width if needed */
  border-radius: 200px;
  display: inline-block;
  transition: 0.1s ease-in-out;
}
.texte_reponse:hover{
  background-color: var(--darker-light-color-main);
  width: 85%;
  transition: 0.1s ease-in-out;
}

.texte_resultat {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Reponses {
  text-align: center;
}
#question{
  font-weight: 700;
  margin-top: 100px;
}

button{
  background: var(--color-main);
  border-radius: 100px;
  color: white;
  font-size: 30px;
  border: none;
  padding: 10px;
}
button:hover{
  cursor: pointer;
  background-color: var(--darker-light-color-main);
}
#underlineButton{
  background: none;
  color: var(--color-main);
  font-weight: 700;
  font-size: 16px;
  padding: 0;
  border: 1px solid #4B9CD4;
  margin: 5px 0 5px 0;
  padding: 2px 10px 2px 10px;
  width: 60%;
  border-radius: 5px;
}